.manager {
    background-color: #fff;
    width: 100%;

    .titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 28px;
    }

    span.viewDetails {
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: -.28px;
    }

    .title {
        padding: 14px 28px 20px 25px;
        font-size: 28px;
        line-height: 36.4px;
        letter-spacing: -.56px;
        color: #212529;
    }

    nav>div.nav.nav-tabs {
        height: 39px;
        padding-left: 25px;
        --bs-text-opacity: 1;

        .nav-link {
            font-weight: 500 !important;
            height: 39px;
            padding: 8px 16px;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
            border-color: var(--bs-border-color) var(--bs-border-color) rgb(0, 0, 0, 0);

            &.active {
                height: 39px;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}

.content {
    .tab-content {
        max-width: 564px;
        max-height: 645px;
    }
}

.content {
    display: flex;

    .container-note-preview {
        width: 100%;

        .void {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}